In [1]:
%pylab inline
import json
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [10]:
schoolframe = pd.read_json('schools.json')

schoolframe[schoolframe['county'].str.contains('Carlow')]

,county,destination,name,number,percentage,private
0,Carlow,"{u'Royal College of Surgeons': u'1', u'NUI Gal...",St Leo's College,134,100%,False
124,Carlow,"{u'NUI Galway': u'4', u'University College Dub...",Col치iste Eoin,28,89%,False
133,Carlow,"{u'NUI Galway': u'2', u'Maynooth University': ...",Col치iste Muire,49,88%,False
134,Carlow,"{u'Royal College of Surgeons': u'1', u'NUI Gal...",Gaelcholaiste Cheatharlach,57,88%,False
160,Carlow,"{u'NUI Galway': u'4', u'Maynooth University': ...",St Mary's Academy CBS,72,86%,False
341,Carlow,"{u'NUI Galway': u'2', u'Maynooth University': ...",Presentation DLS,39,74%,False
342,Carlow,"{u'NUI Galway': u'1', u'Maynooth University': ...",Vocational School,74,74%,False
496,Carlow,"{u'NUI Galway': u'2', u'St. Angela's Sligo': u...",Presentation College,85,60%,False
508,Carlow,"{u'IT Sligo': u'1', u'Mary Immaculate Limerick...",Community School,122,58%,False
584,Carlow,"{u'Waterford Institue of Technology': u'1', u'...",Vocational School,11,45%,False
621,Carlow,"{u'Maynooth University': u'7', u'University Co...",Vocational School,98,32%,False

In [9]:
destlist = list()
for i, row in enumerate(schoolframe['destination']):
    for dest in row.keys():
        destlist.append({'county':schoolframe['county'].loc[i],'school':i, 'destination':dest, 'students':int(row[dest])})

destframe = pd.DataFrame(destlist)

destframe[destframe['county'].str.contains('Carlow')].head(20)

       county                       destination  school  students
0      Carlow         Royal College of Surgeons       0         1
1      Carlow                        NUI Galway       0         4
2      Carlow                St. Angela's Sligo       0         1
3      Carlow               Maynooth University       0        17
4      Carlow         University College Dublin       0         5
5      Carlow  Waterford Institue of Technology       0        22
6      Carlow                           Cork IT       0         1
7      Carlow                       Limerick IT       0         1
8      Carlow            Dublin City University       0        12
9      Carlow            University of Limerick       0         6
10     Carlow            Trinity College Dublin       0        15
11     Carlow                        Athlone IT       0         3
12     Carlow           University College Cork       0         4
13     Carlow                         IT Tralee       0         2
14     Carlow                         IT Carlow       0        34
15     Carlow                    Galway-Mayo IT       0         1
16     Carlow    Dublin Institute of Technology       0         4
17     Carlow                Dun Laoghaire IADT       0         2
1663   Carlow                        NUI Galway     124         4
1664   Carlow         University College Dublin     124         2